

<h1>Select Part:</h1>


<!--Form that features ways user can search for parts-->
<form>
    <div class="row">
        <div class="input-field col s12">
            <!--Search for part via Part Number-->
            <label for="searchedPart">Part Number: </label>
            <textarea id="searchedPart"></textarea>
        </div>
        <div class="input-field col s12">
            <!--Search for part via Part Number-->
            <label for="searchedJob">Job Number: </label>
            <textarea id="searchedJob"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <!--Search for part via Part Number-->
            <label for="partDesc">Part Description: </label>
            <textarea id="partDesc"></textarea>
        </div>
        <div class="input-field col s12">
            <!--Search for part via Part Number-->
            <label for="partMan">Part Manufacturer </label>
            <textarea id="partMan"></textarea>
        </div>
    </div>
</form>
<!--Searches database with entered information-->
<button class="waves-effect btn blue darken-2">Search</button>


<!--Table featuring parts that where returned from search-->
<table class="striped highlight responsive-table" >
    <thead>
        <tr>
            <th>Part Number: </th>
            <th>Job Number: </th>
            <th>Quantity: </th>
            <th>Return Option: </th>
            <th>Tech Option: </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!--Fills each column with apropriate info from parts-->
        @foreach (var part in ViewBag.PartsList)
        {
            <tr>
                <td>@part.ItemNumber</td>
                <td>@part.JobNumber</td>
                <td>@part.Quantity</td>
                <td>@part.ReturnOption</td>
                <td>@part.TechOption</td>
                <td>
                    <form asp-action="Create" asp-controller="CodeCreator" method="post">
                        <input type="hidden" name="ItemNumber" value="@part.ItemNumber" />
                        <input type="hidden" name="JobNumber" value="@part.JobNumber" />
                        <input type="hidden" name="Quantity" value="@part.Quantity" />
                        <input type="hidden" name="ReturnOption" value="@part.ReturnOption" />
                        <input type="hidden" name="TechOption" value="@part.TechOption" />
                        <!--Creates an QR code based off part attached-->
                        <button class="waves-effect btn blue darken-2" type="submit">Create</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>