<head>
    <style>
        .table-container {
            display: block;
            overflow-x: auto;
            width: 100%;
        }

        .dataTable {
            width: 100%;
        }

    </style>

</head>


@{
    // Calculate the current page, page size, and total pages from ViewBag
    int currentPage = ViewBag.CurrentPage;
    int pageSize = ViewBag.PageSize;
    int totalPages = ViewBag.TotalPages;
}
<div>
    <div>
        <h3 class="title-header">Find Item:</h3>
    </div>
    <div class="row">
        <h6 class="browser-default" id="searchError"></h6>
    </div>
    <div class="row">
        <form asp-action="Search" asp-controller="CodeCreator">
            <div class="row">
                <div class="col s6">
                    <!--Searches for part by item number-->
                    <label class="text-black text-darken-2" for="itemNumSearch">Item Number: </label>
                    <input placeholder="Enter Item Number" id="itemNumSearch" type="text" name="itemNumber">
                </div>
                <div class="col s6">
                    <!--Searches for part by job number-->
                    <label class="text-black text-darken-2" for="jobNumSearch">Job Number: </label>
                    <input placeholder="Enter Job Number" id="jobNumSearch" type="text" name="jobNumber">
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <!--Searches for part by description-->
                    <label class="text-black text-darken-2" for="descriptionSearch">Description: </label>
                    <input placeholder="Enter Part Description" id="descriptionSearch" type="text" name="description">
                </div>
            </div>
            <div class="row valign-wrapper center">
                <div class="col s12">
                    <div class="btn-container">
                        <!--Searches for part in DB-->
                        <button id="submitbn" class="btn blue darken-2" type="submit" name="action">
                            Submit
                            <i class="material-icons right">send</i>
                        </button>
                        <!--Resets form back to original state-->
                        <a class="btn red darken-2" id="resetForm">
                            Reset
                            <i class="material-icons right">restart_alt</i>
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="table-container">
                <!--Table featuring parts that where returned from search-->
                <table id="datatable" class="dataTable striped responsive">
                    <thead>
                        <tr>
                            <th>Part Number: </th>
                            <th>Description: </th>
                            <th>Quantity: </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <!--Fills each column with apropriate info from parts-->
                        @foreach (var part in ViewBag.PartsList)
                        {
                            <tr>
                                <td>@part.ItemNumber</td>
                                <td>@part.Description</td>
                                <td>@part.Quantity</td>
                                <td>
                                    <form asp-action="Create" asp-controller="CodeCreator" method="post">
                                        <input type="hidden" name="ItemNumber" value="@part.ItemNumber" />
                                        <input type="hidden" name="JobNumber" value="@part.Description" />
                                        <input type="hidden" name="Quantity" value="@part.Quantity" />
                                        <!--Creates an QR code based off part attached-->
                                        <button class="waves-effect btn blue darken-2" type="submit">Create</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Pagination Controls -->
    <ul class="pagination">
        <!-- Display 'First' and 'Previous' links if not on the first page -->
        @if (currentPage > 1)
        {
            <li class="waves-effect"> <a href="?page=1&pageSize=@pageSize">First</a></li>
            <li class="waves-effect"> <a href="?page=@(currentPage - 1)&pageSize=@pageSize">Previous</a></li>
        }

        <!-- Generate pagination links for each page -->
        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="waves-effect"> <a href="?page=@i&pageSize=@pageSize" class="@(i == currentPage ? "active" : "")">@i</a></li>
        }

        <!-- Display 'Next' and 'Last' links if not on the last page -->
        @if (currentPage < totalPages)
        {
            <li class="waves-effect"> <a href="?page=@(currentPage + 1)&pageSize=@pageSize">Next</a></li>
            <li class="waves-effect"> <a href="?page=@totalPages&pageSize=@pageSize">Last</a></li>
        }
    </ul>
</div>
<script src="~/dist/codeTable.bundle.js"></script>
<script src="~/js/codeCreatorSearch.js"></script>
