<div>
    
    <!--Header-->
    <div class="row">
        <div class="col s12">
            <h4>Job History:</h4>
        </div>
    </div>

    <div class="divider"></div>
    <div class="section"></div>

    <!--Table-->
    <div class="row">
        <div class="col s12">
            <div class="table-container">

                <table id="jobHistoryTable">
                    <thead>
                        <tr>
                            <th>Part Number: </th>
                            <th>Tech: </th>
                            <th>Job Number:</th>
                            <th>Action: </th>
                            <th>Quantity: </th>
                            <th>Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (JobHistoryViewModel part in ViewBag.PartHistoryList)
                        {
                            <tr>
                                <td>@part.PartNumber</td>
                                <td>@part.TechName</td>
                                <td>@part.JobNumber</td>
                                <td>@part.Action</td>
                                <td>@part.Quantity</td>
                                <td>@part.Timestamp</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   

</div>