@model CheckInPartsViewModel


<form id="scanPartForm" asp-action="UploadChecked" asp-controller="Jobs" method="post" class="update-scanpart-form">
    <input type="hidden" id="JobPartId" name="JobPartId" value="" />
    <input type="hidden" id="PartId" name="PartId" value="" />
    <input type="hidden" id="PartName" name="PartName" value="" />
    <input type="hidden" id="JobId" name="JobId" value="" />
    <input type="hidden" id="PurchaseOrderId" name="PurchaseOrderId" value="" />

    <input type="hidden" id="TruckId" name="TruckId" />

    <input type="hidden" id="Status" name="Status" value="" />
    <input type="hidden" id="AssignedParts" name="AssignedParts" value="" />
    <input type="hidden" id="SignedOff" name="SignedOff" value="" />
    <input type="hidden" id="AvailableQuantity" name="AvailableQuantity" value="" />

    
    <input type="hidden" id="CheckedIn" name="CheckedIn" value="" />
    <input type="hidden" id="Ordered" name="Ordered" value="" />

    <input type="hidden" id="toCheckIn" name="toCheckIn" />

    <button id="updateScanPart" style="display:none;" type="submit">Update</button>

</form>

<div  id="counterDiv" class="row">
    <div class="grey darken-2 col s12">
        <h6 class="white-text">Parts Fully Checked In: @Model.notChecked / @Model.totalParts</h6>
    </div>
</div>

<!--Check-In Parts Table-->
<div id="tableDiv" class="row">
    <div class="col s12">
        <div class="table-container">
            <table id="checkinPartsTable">
                <thead>
                    <tr>
                        <th>Part Number: </th>
                        @* <th>Description: </th> *@
                        <th>Purchase Order:</th>
                        <th>Ordered:</th>
                        <th>Checked-In: </th>
                        <th>Completed</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var part in Model.checkParts)
                    {
                        <tr>
                            <td>@part.PartName</td>
                            @* <td>@part.PartDescription</td> *@
                            <td>@part.POName</td>
                            <td>@part.Ordered</td>
                            <td>@part.CheckedIn</td>
                            <td>@if (part.AllChecked)
                                {
                                    <i class="material-icons green-text">check</i>
                                }
                                else
                                {
                                    <i class="material-icons red-text">cancel</i>
                                }
                            </td>
                            <td>
                                <form asp-action="UpdatePart" asp-controller="Jobs" method="post" class="use-part-form">
                                    <input type="hidden" name="JobPartId" value="@part.JobPartId" />
                                    <input type="hidden" name="PartId" value="@part.PartId" />
                                    <input type="hidden" name="PartName" value="@part.PartName" />
                                    <input type="hidden" id="POName" name="POName" value="@part.POName" />
                                    <input type="hidden" name="JobId" value="@part.JobId" />
                                    <input type="hidden" name="PurchaseOrderId" value="@part.PurchaseOrderId" />
                                    <input type="hidden" name="TruckId" />

                                    <input type="hidden" name="Status" value="@part.Status" />
                                    <input type="hidden" name="AssignedParts" value="@part.AssignedParts" />
                                    <input type="hidden" name="SignedOff" value="@part.SignedOff" />
                                    <input type="hidden" name="AvailableQuantity" value="@part.AvailableQuantity" />
                                    <input type="hidden" name="FunctionType" value="" />

                                    <input type="hidden" name="CheckedIn" value="@part.CheckedIn" />
                                    <input type="hidden" name="Ordered" value="@part.Ordered" />
                                </form>
                            </td>
                            <td>
                                <form asp-action="Create" asp-controller="CodeCreator" method="post" target="_blank">
                                    <input type="hidden" name="PartId" value="@part.PartId" />
                                    <input type="hidden" name="PartNumber" value="@part.PartName" />
                                    <button class="waves-effect btn-small blue darken-2" type="submit">QR Code</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>