<div>
    <div class="row">
        <h3>Job Number: </h3>
    </div>


    <!-- Scaan Modal Structure-->
    <div id="ScanDialog" class="modal">
        <div class="modal-container">
            <!--QR Code Reader-->
            <div class="row">
                <div id="reader"></div>
            </div>
            <button class="btn-floating btn-small waves-effect blue darken-2 btn-scanning" id="switchCamera"><i class="material-icons">cameraswitch</i>Switch</button>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <!--Search Component-->
            @await Component.InvokeAsync("Search")
        </div>
    </div>

    <div class="row">
        <h3>Parts:</h3>
    </div>

    <div class="row">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Part Number: </th>
                        <th>Part Description: </th>
                        <th>Part Status: </th>
                        <th>Quantity: </th>
                    </tr>
                </thead>
                <tbody>
                    
                      
                       @*  @foreach(var part in ViewBag.JobParts){
                            <tr>
                                <td>@part.PartName</td>
                                <td>@part.PartDescription</td>
                                <td>@part.POName</td>
                                <td>@part.Status</td>
                                <td>@part.QuantityAssigned</td>
                            <td>
                                <form asp-action="" asp-controller="">
                                    <input name="PartId" value="@part.PartId"/>
                                    <input name="PartName" value="@part.PartName" />
                                    <input name="JobId" value="@part.JobId" />
                                    <input name="PurchaseOrderId" value="@part.PurchaseOrderId" />
                                    <input name="Status" value="@part.Status" />
                                    <input name="QuantityAssigned" value="@part.QuantityAssigned" />

                                    <button type="submit">Edit</button>
                                </form>
                            </td>
                        </tr>
                        } *@

                   
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/dist/scanditscanning.bundle.js"></script>
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnJobHome').click(function () {
                loadPartialView('@Url.Action("Home", "Jobs")');
            });

            $('#btnJobParts').click(function () {
                var jobId = $('#selectedJobId').val();
                loadPartialView('@Url.Action("JobParts", "Jobs")', { jobId: jobId });
            });

            function loadPartialView(url, data) {
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: data,
                    success: function (result) {
                        $('#content-container').html(result);
                    },
                    error: function (xhr, status, error) {
                        alert('Error: ' + error);
                    }
                });
            }
        });
    </script>
}

